.react-tabs {

  &-list {
    border-bottom: 1px solid $color-concrete;
    margin-bottom: 45px;
    padding: 0;

    @include breakpoint ('phone-max') {
      margin-bottom: 27px;
    }
  }
}

.react-tab {
  border: 0;
  bottom: 0;
  display: inline-block;
  padding: 0 0.93%;
  position: relative;
  width: 27%;

  @include breakpoint ('phone-max') {
    padding-left: 3px;
    padding-right: 3px;
    width: 25% !important;
  }

  &:first-child {
    width: 17%;
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  &:focus {
    border: 0;
    box-shadow: none;
    outline: 0;

    span {
      &:after {
        background-color: $color-radical-red;
      }
    }
  }

  a {
    color: $color-tundora;
    @include font-size--k;
    @include font-base-book;
    display: block;
    position: relative;
    height: 100%;
    padding-top: 17px;
    padding-bottom: 22px;
    padding-left: 22px;
    word-spacing: -1px;
    width: 100%;

    @include breakpoint ('tablet-landscape-custom') {
      @include font-size--g;
    }

    @include breakpoint ('tablet-portrait-custom') {
      @include font-size--f;
    }

    @include breakpoint ('phone-max') {
      @include font-size--d;
      padding-left: 3px;
      padding-right: 3px;
    }

    @include breakpoint ('phone') {
      @include font-size--a;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: transparent;
    }
  }

  &--selected {
    & > a {
      color: $color-radical-red;

      &:after {
        background-color: $color-radical-red;
      }
    }
  }

  .icon {
    @include breakpoint ('phone-max') {
      display: none;
    }
  }
}

