
.btn {
  box-shadow: none;

  &:focus
  &.focus,
  &:focus:active,
  &:active,
  &.active,
  &.active:focus {
    color: $color-white;
    box-shadow: none !important;
    outline: none !important;
    outline-offset: 0 !important;
  }

  span {
    transform: translate(0, 0);
  }

  &--clear {
    border: 0 !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    padding: 0 !important;
  }

  &--white {
    &.btn {
      background-color: $color-white;
      border: 0;
      border-radius: 6px;
      color: $color-tundora;
      font-size: 15px;
      line-height: 19px;
    }
  }

  &--pink {
    &.btn {
      background-color: $color-radical-red;
      border: 0;
      border-radius: 0;
      color: $color-white;
      @include transition( background-color $base-transition $base-transition--link--time);
      vertical-align: middle;

      &:hover,
      &:focus {
        color: $color-white !important;
        background-color: $color-mandy !important;
      }
    }
  }

  &--default-dark {
    &.btn {
      border-radius: 100px;
      background-color: $color-m-shaft;
      color: $color-white;

      &:hover,
      &:focus {
        color: $color-silver-grey;
      }
    }
  }

  &--default {
    &.btn {
      background-color: $color-concrete;
      border-radius: 6px;
      color: $color-m-shaft;
    }
  }

  &--circle {
    &.btn {
      border-radius: 100px;
    }
  }

  &--full-width {
    width: 100%;
  }

  &--navbar-toggle {
    padding: 26px 15px !important;
    margin: 0 !important;
  }

  &--header-create-post {
    height: 100%;
    padding: 28px 28px 26px 28px !important;
    margin-left: 16px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-transform: uppercase;
  }

  &--header-dropdown-location,
  &--header-create-post,
  &--header-menu {
    &.btn {
      @include font-size--g;
    }
  }


  &--header-dropdown-location,
  &--header-menu {
    &.btn {
      color: $color-silver-grey;

      &:hover,
      &:focus {
        color: $color-silver-grey;
      }
    }

  }

  &--header-dropdown-location {
    &.btn {
      padding: 28px 16px 26px 16px !important;
    }
  }

  &--header-menu {
    position: relative;

    @include breakpoint ('tabelt-max') {
      line-height: 17px;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      background-color: transparent;
      transform: translateX(-50%);
      pointer-events: none;
      @include transition(
        background-color $base-transition $base-transition--link--time
      );
      height: 2px;
      width: 32px;
      margin-bottom: 16px;
    }

    &:focus,
    &.is-active {
      color: $color-white !important;

      &:before {
        background-color: $color-silver-light;
      }
    }
  }

  &--header-dropdown-user {
    margin-left: 4px;
    &.btn {
      padding: 17px 16px !important;
    }
  }

  &--header-dropdown-notification {
    margin: 0 4px 0 0;
    padding: 24px 0 23px 0 !important;


    @media (max-width: 992px) {
      margin: 0;
    }

    & > span {
      display: block;
      padding: 0 16px;

      @media (max-width: 992px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      @include breakpoint ('phone') {
        padding-right: 11px;
      }
    }

    .icon-count {
      margin-right: 11px;
    }
  }

  &--header-dropdown-notification,
  &--header-dropdown-email {
    .icon-count {
      margin-top: -20px;

      @include breakpoint ('phone') {
        margin-right: 7px;
      }
    }
  }


  &--header-dropdown-email {
     padding: 26px 12px 26px 12px !important;

    @media  (max-width: 992px) {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    &.is-active {
      background-color: $color-boulder !important;

      &:hover {
        background-color: $color-boulder !important;
      }

      .icon-count {
        background-color: $color-boulder !important;
        border-color: $color-white;
        color: $color-white;
      }
    }

    .icon-count {
      margin-right: 4px;
    }

  }

  &--subscribe {
    &.btn {
      padding: 13px 24px 12px 24px;

      @include breakpoint('tablet-desktop') {
        padding-left: 16px;
        padding-right: 16px;
      }

      @include breakpoint('tablet-max') {
        padding-left: 10px;
        padding-right: 10px;
      }

       @include breakpoint('phone') {
        padding-left: 7px;
        padding-right: 7px;
      }
    }
  }

  &--filters {
    &.btn {
      @include font-size--f;
      padding: 11px 20px 10px 20px;
    }

  }

  &--clear-filters {
    &.btn {
      color: $color-silver-grey;
      padding: 25px 0 23px 0 !important;
      @include font-size--f;
    }
  }

  &--selected {
    &.btn {
      @include font-size--f;
      padding: 11px 11px 10px 17px;
      margin-right: 10px;
      margin-bottom: 10px;

      i {
        margin-left: 6px;
      }

      i,
      span {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  &--message {
    &.btn {
      @include font-size--f;
      padding: 11px 19px 10px 19px;
    }
  }

}
