// ==========================================================================
// Variables: Colors
// ==========================================================================

// white
$color-white: #FFFFFF !default;
$color-transparent: transparent !default;

// black
$color-black: #000000 !default;
$color-charade: #292D34 !default;
$color-outer-space: #2c3138 !default;
$color-tuna: #333740 !default;
$color-mine-shaft: #242424 !default;
$color-tundora-light: #4A4A4A !default;
$color-salt-box: #626063 !default;
$color-cod-black: #161616 !default;
$color-extra-shark: #25272E !default;

// grey
$color-grey: #bebebe !default;
$color-gray: #7F7F7F !default;
$color-gray-nurse: #E8E8E8!default;
$color-mountain-mist: #979797!default;
$color-iron: #D8D8D8!default;
$color-gainsboro: #DFDFDF!default;
$color-anti-flash-white: #F3F3F3!default;
$color-light-grayish: #e1e1e0!default;
// $color-mercury: #e5e5e5!default;
$color-silver-chalice: #aaaaaa!default;
$color-mercury-light: #E6E6E6 !default;
$color-nobel: #B3B3B3 !default;
$color-dusty: #999999 !default;
$color-dark-grey: #808080 !default;
$color-dove-gray: #666666 !default;
$color-jumio-grey: #c6c6c6 !default;
// $color-tundora: #4D4D4D !default;
$color-silver: #CCCCCC !default;
$color-gallery: #EBEBEB !default;
$color-gallery-grey: #EFEFEF !default;
$color-pale-slate: #C0BEC0 !default;
$color-concrete: #F2F2F2 !default;
$color-dusty-gray: #9B9B9B !default;
$color-gallery: #EAEAEA !default;
$color-magnolia: #FDFCFF !default;
$color-silver-grey: #ABABAB !default;
$color-tundora: #474747 !default;
$color-silver-light: #BFBFBF !default;
$color-silver-dark: #C5C5C5 !default;
$color-sliver-l: #CDCDCD !default;
$color-boulder: #777777 !default;
$color-cod-grey: #1A1A1A !default;
$color-mine-grey:  #2C2C2C !default;
$color-m-shaft: #333333 !default;
$color-mercury: #E1E1E1 !default;
$color-alabaster: #FBFBFB !default;
$color-alabaster-grey: #F8F8F8 !default;
$color-cararra: #F2F1EF !default;
$color-cape-grey: #424444 !default;
$color-extra-grey: #A6A6A6 !default;
$color-shufle-gray: #64666B !default;
$color-god-gray: #121212 !default;
$color-shuttle-g: #575C6C !default;
$color-gray-tundora: #646464 !default;

// green
$color-mantis: #72cf60!default;
$color-puerto-rico: #46BEA0 !default;
$color-vista: #90D8C6 !default;
$color-sharm-rock: #2FBFA8 !default;
$color-sharm: #2EBFA8 !default;
$color-turquoise: #50E3C2 !default;
$color-white-ice: #EDFCF8 !default;

// blue
$color-chambray: #3B5998!default;
$color-dodger-blue: #2895F1!default;
$color-selago: #f5fafe!default;
$color-matisse: #1F69A7!default;
$color-solitude: #E3F2FF!default;
$color-aqua-blue: #A0DCDC !default;
$color-havelock-blue: #4A90E2 !default;
// red
$color-red: #f00000!default;
$color-sunglo: #d96969!default;
$color-coquelicot: #FF3500!default;
$color-Valencia: #d34836!default;
$color-rock: #BE460A !default;
$color-burnt-sienna: #EC7C5E !default;
$color-flamingo: #EF4237 !default;
$color-azalea: #F7CACA !default;
$color-terracotta: #E36255!default;
$color-thunderbird: #D71C1C!default;
$color-flory: #EF7373!default;
$color-pomegranate: #EE4036!default;
$color-duststorm: #E5C7C7!default;
$color-carnation: #F36060!default;
$color-vivid-tangerine: #FF8282 !default;
$color-cerise-red: #DB2A56 !default;

//pink
$color-radical-red: #FF3366 !default;
$color-mandy: #e96279 !default;


// yellow
$color-di-serria: #e39959;
$color-kournikova: #FFDC6E !default;
$color-ripe-lemon: #F8E71C !default;



//orange
$color-orange: #FFB392 !default;
$color-mona-lisa: #FEB494 !default;

